@model IEnumerable<DAX_Block2_2024.Entities.User>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        PassWord
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        BirthDay
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                    <th>
                                        Account Rate
                                    </th>
                                    <th>
                                        Account Point
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="toggle-details">+</span> @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PassWord)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BirthDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountRate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountPoint)
                                        </td>
@*                                         <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role.Name)
                                        </td> *@
                                        <td>
                                            <a asp-action="Edit" class="text-success" asp-route-id="@item.Id">Edit</a> |
                                        </td>
                                    </tr>
                                    <tr class="extra-info hidden">
                                        <td colspan="14">
                                            <div>
                                                <strong>Status: </strong>@Html.DisplayFor(modelItem => item.Status)<br>
                                                <strong>Email: </strong>@Html.DisplayFor(modelItem => item.Email)<br>
                                                <strong>Role: </strong>@Html.DisplayFor(modelItem => item.Role.Name)<br>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toggleButtons = document.querySelectorAll('.toggle-details');

        toggleButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var parentRow = this.closest('tr');
                var extraInfoRow = parentRow.nextElementSibling;

                var isHidden = extraInfoRow.classList.contains('hidden');

                if (isHidden) {
                    extraInfoRow.classList.remove('hidden');
                    this.textContent = '-';
                } else {
                    extraInfoRow.classList.add('hidden');
                    this.textContent = '+';
                }
            });
        });
    });
</script>
<style>
    .toggle-details {
        cursor: pointer;
    }

    .toggle-details:hover {
       color: blue;
    }

    .hidden {
        display: none;
    }
</style>
