@model IEnumerable<DAX_Block2_2024.Entities.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>List News</h1>
    @foreach (var item in Model)
    {
        <div class="row hover-list-popular">
            <div class="col-xl-5 pb-3">
                <img src="@Url.Content("~/uploads/newsImage/" + item.Image)" class="pe-4 h-100 w-100 img-fluid" alt="Not Image">
            </div>
            <div class="col-xl-7 shopping-mall">
                <a class="custom-link"
                   asp-controller="DocumentDetails"
                   asp-action="Index"
                   asp-route-id="@item.Id">
                    <p class="fs-24 fw-bold text-black">
                        @item.Content
                    </p>
                </a>
                <div class="row color-9A9AB0">
                    <div class="col-xl-4">
                        <p>@item.CreateByNavigation.FullName</p>
                    </div>
                    <div class="col-xl-6">
                        <p>@item.CreateDate.Date.ToShortDateString()</p>
                    </div>
                </div>
                <p class="justify-content-around">
                   @item.Description
                </p>
            </div>
        </div>
    }
 